{% extends "layout.html" %}

{% block content %}

<body >
  <style>
    body {
          background-image: url("https://i.postimg.cc/wj2j7R1G/img2-wallspic-com-violeta-morado-magenta-tintes-y-matices-patron-1284x2778.png");
          background-repeat: no-repeat;
          background-size:cover;
        }
  </style>
  <main>
      <div class="position-absolute w-100 h-100 bg-black opacity-75 top-10 start-10">
      <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
      <div class="row d-flex align-items-center justify-content-center py-vh-5">
        <div class="col-12 col-xl-10">
          <h1 class="display-huge mt-3 mb-3 lh-1">Coming soon</h1>
        </div>
        <div class="col-12 col-xl-8">
          <p class="lead text-secondary">Stay tuned</p>
        </div>
      </div>
      </div>
      </div>
  </main>
</body>

{% endblock content %}