{% extends "layout.html" %}

{% block content %}
 <body  class="bg-black text-white mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
    <style>
      body {
            background-image: url("https://i.postimg.cc/kXVV7yvH/wallpaperbetter-com-1920x1200-11.jpg");
            background-repeat: no-repeat;
            background-size:cover;
          }
    </style>
    <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0">
      <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
        <div class="row d-flex align-items-center justify-content-center py-vh-5">
          <div class="col-12 col-xl-10">
            <h1 class="display-huge mt-3 mb-3 lh-1">I do ordinary stuff for cool people</h1>
          </div>
          <div class="col-12 col-xl-8">
            <p class="lead text-secondary">I'm some sort of Data Analyst working with variables, contracts, Django web and the so called
              Python...in the IT. You don't understand a word? No problem, me neither! 👀</p>
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock content %}